<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img decoding="async" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/590px-Node.js_logo.svg.png?20170401104355" alt="node js logo">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>Node.js working example</span>
            <p>JavaScript | HTML | CSS | Google Cloud | Node.js</p>
            <p>This is a working example of a Node.js deployment on Google Cloud. It renders my homepage in an iFrame
                within a html file. This html file is loaded once the user sends a get-request to the url where the
                javascript file is stored. Herein an end point is defined and the app listens to port 3000, so this
                runtime can also be executed locally on your machine with a browser.
            
                In future, more complex apps will be showcased here.</p>
            <div class="btn-box">
                <a class="button" href="https://beaming-courage-393207.ey.r.appspot.com/"
                    target="_blank">Try it</a>
                <a class="button" href="https://github.com/FredVomJupiter/nodeJS-training/tree/main" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>