<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img decoding="async" src="assets/img/Slacky.png" alt="node js logo">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>Slack Clone "DA Bubble"</span>
            <p>TypeScript | Angular 16 | SCSS | Material | Firestore Realtime Database | RxJS | Custom Pipes | Firestore
                Authentication | CI-CD Github Actions</p>
            <p> Create channels, write text and post pictures. Also, reply in threads or write
                direct messages to other users. Edit your user profile and update your user profile picture. You can
                authenticate via your email or login with an anonymous guest account. Thanks to Firestore Realtime
                Database, reading and writing data happens with low latency - comparable to WebSockets.

                A sneak peak into the Github Repo can be arranged upon request.</p>
            <div class="btn-box">
                <a class="button" href="https://db-bubble.web.app/#/login" target="_blank">Try it</a>
            </div>
        </div>
    </div>
</div>