.section-projects-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    width: calc(min(100vw, 1024px) - 4rem);
    margin: 0 auto;
    background: #293133;
    border-radius: 8px;
    margin-bottom: 1rem;

    .wrapper {
        box-sizing: border-box;
        padding: 2rem 1rem;
        max-width: 1024px;
        width: calc(min(100vw, 1024px) - 4rem);
        display: flex;
        flex-direction: column;
    }
}

.box {
    display: flex;
    transition: all 225ms ease-in-out;
    align-self: center;
    justify-content: center;

    img {
        transition: all 225ms ease-in-out;
        box-sizing: border-box;
        width: 100%;
        max-width: 400px;
        background-color: #FFFFFF;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15)) grayscale(100%);
    }

    &:hover img {
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15)) grayscale(0%);
    }
}

.magic-box {
    transition: all 225ms ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;

    span {
        cursor: default;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 1.5rem;
    }

    p {
        cursor: default;
        color: #FFFFFF;
        text-align: center;
    }

    .btn-box {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .button {
        text-decoration: none;
        transition: all 225ms ease-in-out;
        cursor: pointer;
        display: flex;
        height: 40px;
        width: 100px;
        border: 2px solid rgb(6, 161, 6);
        border-radius: 8px;
        color: #FFFFFF;
        align-items: center;
        justify-content: center;
        background: #293133;

        &:hover {
            transition: all 225ms ease-in-out;
            background: rgb(6, 161, 6);
            color: #FFFFFF;
        }
    }
}

.show-box {
    transition: all 225ms ease-in-out;
    opacity: 1;
}

@media screen and (width < 1024px) {
    .box {
        img {
            filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15)) grayscale(0%) !important;
        }
    }

    .section-projects-background {
        width: calc(min(100vw, 1024px) - 2rem);

        .wrapper {
            width: calc(min(100vw, 1024px) - 2rem);
        }
    }
}