<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img decoding="async" src="assets/img/Slacky.png" alt="node js logo">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>Slack Clone "Slacky"</span>
            <p>TypeScript | Angular | SCSS | Firestore | RxJS</p>
            <p>This is a Slack clone. Write text or send images to other people in different channels or direct
                messages. It is also possible to answer in threads, search posts and edit your profile. Thanks to RxJS
                Observables and Change Listeners from Firestore, this is a live-chat-application that renders changes
                immediately in the UI as soon as modifications in channels or direct messages have taken place.</p>
            <div class="btn-box">
                <a class="button" href="https://slacky-8271.web.app/" target="_blank">Try it</a>
                <a class="button" href="https://github.com/FredVomJupiter/slack-clone-angular"
                    target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>