.section-projects-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    max-width: 100%;
    margin: 0 auto;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            cursor: default;
            font-weight: bold;
            color: #E4FDE1;
            font-size: 2rem;
        }

        p {
            cursor: default;
            color: #E4FDE1;
            text-align: center;
        }
    }
}