<div class="section-projects-background">
    <div class="wrapper">
        <span>Projects</span>
        <p>This page contains samples of my work - please feel free to try them out.</p>

        <div class="box">
            <img src="assets/img/join.svg" alt="join">
            <div class="button pos1">Try it</div>
            <div class="button pos2">Github</div>
            <div class="horizontal-line"></div>

            <div class="magic-box">
                <span>JOIN</span>
                <p>Angular | TypeScript | HTML | SCSS | Firebase</p>
                <p>Task manager inspired by the Kanban system. Create and orgnize tasks using drag and drop functions, assigning users and categories.</p>
            </div>
        </div>
    </div>
</div>