<app-header></app-header>

<app-animations></app-animations>

<main>
    
    <app-section-top></app-section-top>
    <app-section-skills></app-section-skills>
    <app-section-projects></app-section-projects>
    <app-section-projects-one></app-section-projects-one>
    <app-section-projects-six></app-section-projects-six>
    <app-section-projects-crm></app-section-projects-crm>
    <app-section-projects-two></app-section-projects-two>
    <app-section-projects-three></app-section-projects-three>
    <app-section-projects-four></app-section-projects-four>
    <app-section-projects-five></app-section-projects-five>
    <app-contact></app-contact>
    <app-footer></app-footer>
</main>
