<app-header></app-header>
<main>
    <div class="big-blue-circle"></div>
    <div class="small-blue-circle" (click)="getElement($event)" #small></div>
    <app-section-top></app-section-top>
    <app-section-skills></app-section-skills>
    <app-section-projects></app-section-projects>
    <app-section-projects-one></app-section-projects-one>
    <app-section-projects-two></app-section-projects-two>
    <app-section-projects-three></app-section-projects-three>
    <app-contact></app-contact>
</main>
<app-footer></app-footer>