canvas {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

canvas::-webkit-scrollbar {
    display: none;
}