.header {
    position: relative;
    display: flex;
    height: 4rem;
    padding: 0rem 2rem;
    z-index: 1;
    background: #293133;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
    width: calc(min(100vw, 1024px) - 4rem);
    height: 100%;

    .header-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        height: 100%;

        .header-span-wrap {
            display: flex;
            justify-content: flex-end;
            margin-left: 2rem;
        }

        .header-span {
            transition: all 225ms ease-in-out;
            cursor: pointer;
            color: white;
            width: 70px;
            text-align: end;

            &:hover {
                transition: all 225ms ease-in-out;
                font-weight: bold;
            }
        }
    }

    .header-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        height: 100%;

        .logo {
            cursor: default;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
}

.slide-items {
    transition: all 225ms ease-in-out;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    flex-direction: column;
    right: -50%;
    top: 12rem;
    background: #293133;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    z-index: 2;

    .slide-menu-item1 {
        cursor: pointer;
        user-select: none;
        box-sizing: border-box;
        padding-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 8px;
        width: 150px;
        height: 48px;

        &:hover {
            background: #456990;
        }
    }

    .slide-menu-item2 {
        cursor: pointer;
        user-select: none;
        box-sizing: border-box;
        padding-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 48px;

        &:hover {
            background: #456990;
        }
    }

    .slide-menu-item3 {
        cursor: pointer;
        user-select: none;
        box-sizing: border-box;
        padding-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 8px;
        width: 150px;
        height: 48px;

        &:hover {
            background: #456990;
        }
    }

    .slide-span {
        font-size: 16px;
        width: 100%;
        color: white;
    }
}

.open-slide {
    transition: all 225ms ease-in-out;
    right: 0px !important;
}

.slide-close {
    cursor: pointer;
    user-select: none;
    z-index: 3;
    transition: all 225ms ease-in-out;
    display: flex;
    background: #293133;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #FFFF;
    position: absolute;
    right: -300px;
    top: calc(12rem + 72px - 20px);

    &:hover {
        background: #456990;
    }
}

.close-slide {
    transition: all 225ms ease-in-out;
    right: 158px !important;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: calc(min(100vw, 1024px) - 0rem);
    }

    .header-right {
        max-width: calc(50% - 100px);

        .header-span {
            font-size: 0px !important;
        }
    }

    .header-span-wrap {
        width: 0px !important;
    }

    // Hover animation for the burger menu is here:
    .burger-menu {
        transition: all 225ms ease-in-out;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .line-top {
        transition: all 225ms ease-in-out;
        width: 32px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
    }

    .line-middle {
        transition: all 325ms ease-in-out;
        width: 32px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
    }

    .line-bottom {
        transition: all 425ms ease-in-out;
        width: 32px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
    }

    /** Animations for Burger Menu are added via TypeScript "openBurger" boolean */
    .move-burger-background {
        transform: translateX(-32px);
    }

    .move-top-line {
        transform: translateY(24px) rotate(-180deg);
    }

    .move-middle-line {
        transform: translateY(0px) rotate(-180deg);
    }

    .move-bottom-line {
        transform: translateY(-24px) rotate(-180deg);
    }
}