<header class="header" id="top">
    <div class="wrapper">
        <div class="header-left">
            <div class="logo" (click)="scrollTop()">RIEG</div>
        </div>
        <div class="header-right">
            <div class="header-span-wrap" (click)="scrollAbout()"><span class="header-span">About me</span></div>
            <div class="header-span-wrap" (click)="scrollProjects()"><span class="header-span">Projects</span></div>
            <div class="header-span-wrap" (click)="scrollContact()"><span class="header-span">Contact</span></div>
            <div class="burger-menu" (click)="openBurgerMenu()" [class.move-burger-background]="openBurger">
                <div class="line-top" [class.move-top-line]="openBurger"></div>
                <div class="line-middle" [class.move-middle-line]="openBurger"></div>
                <div class="line-bottom" [class.move-bottom-line]="openBurger"></div>
            </div>
        </div>
        <div class="slide-items" [class.open-slide]="openBurger">
            <div class="slide-menu-item1" (click)="scrollAbout()"><span class="slide-span">About me</span></div>
            <div class="slide-menu-item2" (click)="scrollProjects()"><span class="slide-span">Projects</span></div>
            <div class="slide-menu-item3" (click)="scrollContact()"><span class="slide-span">Contact</span></div>
        </div>
    </div>
    <div class="slide-close" [class.close-slide]="openBurger" (click)="closeBurgerMenu()">
        >
    </div>
</header>