.header {
    box-sizing: border-box;
    display: flex;
    height: 4rem;
    padding: 2rem 2rem;
    z-index: 1;
    background: linear-gradient(128.94deg, #E4FDE1 -33.96%, #456990 36.71%, #114B5F 112.25%);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
    width: calc(min(100vw, 1024px) - 4rem);
    height: 100%;

    .header-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        height: 100%;

        .header-span-wrap {
            display: flex;
            justify-content: flex-end;
            margin-left: 2rem;
        }

        .header-span {
            cursor: pointer;
            color: white;

            &:hover {
                font-weight: bold;
            }
        }
    }

    .header-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        height: 100%;

        .logo {
            cursor: default;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
}

.burger-items {
    transition: all 225ms ease-in-out;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    flex-direction: column;
    right: -50%;
    top: 80px;
    background: #114B5F;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 2;

    .burger-menu-item1 {
        user-select: none;
        box-sizing: border-box;
        padding-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 10px;
        width: 120px;
        height: 40px;

        &:hover {
            background: #456990;
        }
    }

    .burger-menu-item2 {
        user-select: none;
        box-sizing: border-box;
        padding-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;

        &:hover {
            background: #456990;
        }
    }

    .burger-menu-item3 {
        user-select: none;
        box-sizing: border-box;
        padding-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 10px;
        width: 120px;
        height: 40px;

        &:hover {
            background: #456990;
        }
    }

    .burger-span {
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        color: white;
    }
}

.open-burger {
    transition: all 225ms ease-in-out;
    right: 0px !important;
}

.burger-close {
    cursor: pointer;
    user-select: none;
    z-index: 3;
    transition: all 225ms ease-in-out;
    display: flex;
    background: #114B5F;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: white;
    position: fixed;
    right: -300px;
    top: 70px;
}

.close-burger {
    transition: all 225ms ease-in-out;
    right: 110px !important;
    
}

@media screen and (width < 1024px) {
    .wrapper {
        width: calc(min(100vw, 1024px) - 0rem);
    }

    .header-right {
        max-width: calc(50% - 100px);

        .header-span {
            font-size: 0px !important;
        }
    }

    .header-span-wrap {
        width: 0px !important;
    }

    .burger-menu {
        transition: all 225ms ease-in-out;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &:hover .line-top {
            transition: all 225ms ease-in-out;
            transform: translateX(-32px) translateY(24px) rotate(-180deg);
        }

        &:hover .line-middle {
            transition: all 325ms ease-in-out;
            transform: translateX(-32px) translateY(0px) rotate(-180deg);
        }

        &:hover .line-bottom {
            transition: all 425ms ease-in-out;
            transform: translateX(-32px) translateY(-24px) rotate(-180deg);
        }
    }

    .line-top {
        transition: all 225ms ease-in-out;
        width: 32px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
    }

    .line-middle {
        transition: all 325ms ease-in-out;
        width: 32px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
    }

    .line-bottom {
        transition: all 425ms ease-in-out;
        width: 32px;
        height: 4px;
        background-color: white;
        margin: 4px 0;
    }
}