<div class="footer">
    <div class="logo">RIEG</div>
    <div class="middle">
        <span>© Frederic Rieg 2023</span>
        <span class="imprint" routerLink="/Imprint">Imprint / Legal Info</span>
    </div>
    <div class="right">
        <a class="image-wrap" href="https://github.com/FredVomJupiter" target="_blank"><img src="assets/img/github_negative.svg" alt="git"></a>
        <div class="image-wrap"><img src="assets/img/mail_negative.svg" alt="mail"></div>
        <a class="image-wrap" href="https://www.linkedin.com/in/frederic-r-6a2251101/" target="_blank"><img src="assets/img/linkedin_negative.svg" alt="linkedin"></a>
    </div>
</div>