<div class="footer">
    <div class="logo">RIEG</div>
    <div class="middle">
        <span>© Frederic Rieg 2023</span>
        <span class="imprint" routerLink="/Imprint">Imprint / Legal Info</span>
    </div>
    <div class="right">
        <div class="image-wrap"><img src="assets/img/github_negative.svg" alt="git"></div>
        <div class="image-wrap"><img src="assets/img/mail_negative.svg" alt="mail"></div>
        <div class="image-wrap"><img src="assets/img/linkedin_negative.svg" alt="linkedin"></div>
    </div>
</div>