.footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    padding: 2rem 2rem;
    background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, #E4FDE1 6.25%, #456990 51.56%, #114B5F 100%);
}

.logo {
    cursor: default;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    width: 33%;
}

.middle {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    color: white;
}

.right {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 16px;
    width: 33%;

    .image-wrap {
        cursor: pointer;
        display: flex;
        transition: all 225ms ease-in-out;
        width: min-content;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.imprint {
    height: 30px;
    cursor: pointer;
    transition: all 225ms ease-in-out;

    &:hover {
        transition: all 225ms ease-in-out;
    }
}