<div clasS="contact-background">
    <div class="left">
        <span class="title">Contact</span>
        <span class="subtitle">Need help solving a problem?</span>
        <p>Contact me through this form. I am looking forward to hearing from you and your ideas and projects.</p>
        <div><span class="lightblue">Need a frontend developer?</span><span class="darkblue">Contact me!</span></div>
        <div class="icon"><img src="assets/img/up.svg" alt="up" (click)="scrollTop()"></div>
    </div>
    <div class="right">
        <form action="" class="form">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <button type="submit">Write me</button>
        </form>
    </div>
</div>