.contact-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1024px;
    width: calc(min(100vw, 1024px) - 4rem);
    height: fit-content;
    margin: 0 auto;
    background: #293133;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding: 2rem 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    .title {
        cursor: default;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .subtitle {
        cursor: default;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 1rem;
    }

    p {
        cursor: default;
        color: #FFFFFF;
        font-size: 1rem;
        text-align: center;
    }

    .highlight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pink {
        cursor: default;
        color: rgb(254, 73, 227);
        font-size: 1rem;
    }

    .green {
        margin-left: 8px;
        cursor: default;
        color: #06A106;
        font-weight: bold;
        font-size: 1rem;
    }
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(300px, 50% , 100%);
        gap: 1rem;
    }

    input {
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        border: 2px solid #121212;
        user-select: none;
        width: 100%;
        font-size: 12px;
        background: rgba($color: #FFFFFF, $alpha: 0.9);

        &::-webkit-input-placeholder {
            font-family: 'Optima', 'Lato', sans-serif;
        }

        &::-moz-placeholder {
            font-family: 'Optima', 'Lato',  sans-serif;
        }

        &:focus {
            outline: 2px solid #06A106;
        }
    }

    textarea {
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        width: 100%;
        min-height: 150px;
        max-height: 200px;
        border-radius: 8px;
        resize: vertical;
        border: 2px solid #121212;
        font-size: 12px;
        background: rgba($color: #FFFFFF, $alpha: 0.9);

        &::-webkit-input-placeholder {
            font-family: 'Optima', 'Lato', sans-serif;
        }

        &::-moz-placeholder {
            font-family: 'Optima', 'Lato', sans-serif;
        }

        &:focus {
            outline: 2px solid #06A106;
        }
    }

    button {
        transition: all 225ms ease-in-out;
        cursor: pointer;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 10px;
        border: 2px solid #06A106;
        color: #FFFFFF;
        background: #293133;
        font-size: 12px;

        &:hover {
            transition: all 225ms ease-in-out;
            background: #06A106;
            color: white;
        }
    }
}

.message {
    cursor: default;
    transition: all 225ms ease-in-out;
    position: absolute;
    right: -2556px;
    top: 60%;
    width: 200px;
    height: 50px;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: 2px solid #06A106;
    background: #06A106;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
}

.show-message {
    transition: all 225ms ease-in-out;
    right: calc(50% - 100px - 1rem);
}

@media screen and (width < 1024px) {
    .contact-background {
        width: calc(min(100vw, 1024px) - 2rem);
    }
}