<div class="contact-background" id="contact">
    <div class="left">
        <h2 class="title">Contact</h2>
        <span class="subtitle">Need help solving a problem?</span>
        <p>Contact me through this form. I am looking forward to hearing from you and your ideas and projects.</p>
        <div class="highlight"><span class="pink">Need a frontend developer?</span><span class="green">Contact me</span></div>
    </div>
    <div class="right">
        <form class="form" [formGroup]="checkoutForm" ngNativeValidate (ngSubmit)="onSubmit()" #myForm>
            <input required type="text" placeholder="Name" formControlName="name">
            <input required type="text" placeholder="Email" formControlName="email">
            <textarea required cols="30" rows="10" placeholder="Message" formControlName="text"></textarea>
            <button type="submit">Write me</button>
        </form>
    </div>
    <div class="message" [class.show-message]="showMessage">
        Encrypting message...
        <!-- Turning gears with animation (I created this svg with figma)-->
        <img [class.turn-left]="showMessage" src="assets/img/gear.svg" alt="gear_icon">
        <img [class.turn-right]="showMessage" src="assets/img/gear.svg" alt="gear_icon">
    </div>
</div>