<div class="contact-background" id="contact">
    <div class="left">
        <span class="title">Contact</span>
        <span class="subtitle">Need help solving a problem?</span>
        <p>Contact me through this form. I am looking forward to hearing from you and your ideas and projects.</p>
        <div><span class="lightblue">Need a frontend developer?</span><span class="darkblue">Contact me!</span></div>
    </div>
    <div class="right">
        <form class="form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Name" id="name" formControlName="name">
            <input type="text" placeholder="Email" id="email" formControlEmail="email">
            <textarea id="text" cols="30" rows="10" placeholder="Message" formControlText="text"></textarea>
            <button type="submit">Write me</button>
        </form>
    </div>
    <div class="message" [class.show-message]="showMessage">
        Message has been sent!
    </div>
</div>