.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background: white;
    height: 80px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    z-index: 2;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}


.header-logo {
    display: flex;
    height: 60px;
    object-fit: contain;
}


.header-links {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;

    a {
        transition: all 225ms ease-in-out;
        font-size: 16px;
        text-decoration: none;
        color: black;

        &:hover {
            transition: all 225ms ease-in-out;
            font-size: 18px;
        }
    }
}

.burger-menu {
    transition: all 500ms ease-in-out;
    cursor: pointer;
    width: 30px;
    height: 30px;
    
    &:hover {
        transition: all 500ms ease-in-out;
        rotate: 180deg;
    }
}