<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img src="assets/img/elpolloloco.png" alt="elpolloloco">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>El Pollo Loco</span>
            <p>JavaScript | HTML | CSS</p>
            <p>A mini game with 2 levels. Defeat the manic chickens and their mother hen with hot salsa bottles! Object orientated programming and canvas functionalities are combined to simulate gravity, movement and collision detection.</p>
            <div class="btn-box">
                <a class="button" href="https://frederic-rieg.developerakademie.net/ElPolloLoco/index.html" target="_blank">Try it</a>
                <a class="button" href="https://github.com/FredVomJupiter/elpolloloco" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>