<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <div class="line">Click for info</div>
            <img src="assets/img/elpolloloco.svg" alt="join">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>El Pollo Loco</span>
            <p>JavaScript | HTML | CSS</p>
            <p>A mini game with 2 levels. Defeat the manic chickens and their mother hen with hot salsa bottles!.</p>
            <div class="btn-box">
                <div class="button">Try it</div>
                <div class="button">Github</div>
            </div>
        </div>
    </div>
</div>