.imprint-background {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    max-width: 1024px;
    height: 100vh;
    margin: 0 auto;
    background: white;
    user-select: none;
    -webkit-user-select: none;
}

.btn {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    display: flex;
    width: fit-content;
    border: 2px solid #114B5F;
    padding: 15px 25px;
    border-radius: 10px;
    color: #114B5F;

    &:hover {
        transition: all 225ms ease-in-out;
        background-color: #114B5F;
        color: white;
    }
}