<div class="imprint-background">
    <h1>Impressum</h1>

    <h2>Angaben gemäß § 5 TMG </h2>
    <p>
        Frederic Mathias Rieg<br>
        Mahatma Gandi Cd. 79<br>
        Appartment 8<br>
        06680 Ankara<br>
    </p>

    <h2>Postadresse</h2>

    <span>[Wie oben.]</span>

    <h2>Kontakt</h2>

    <p>
        Telefon: +90 5348874105 <br>
        E-Mail: fredericrieg@protonmail.com <br>
        <br>
        Quelle: e-recht24.de
    </p>

    <div class="btn" routerLink="">back to mainpage</div>
</div>