<div class="imprint-background">
    <h1>Imprint</h1>

    <h2>Information according to § 5 TMG (Germany)</h2>
    <p>
        Frederic Mathias Rieg<br>
        Mahatma Gandi Cd. 79<br>
        Appartment 8<br>
        06680 Ankara<br>
    </p>

    <h2>Postal address</h2>

    <span>[See above.]</span>

    <h2>Contact</h2>

    <p>
        Phone: +90 5348874105 <br>
        E-Mail: fredericrieg@protonmail.com <br>
        <br>
        Source: e-recht24.de
    </p>

    <div class="btn" routerLink="">back to mainpage</div>
</div>