.imprint-background {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem 0;
    background: #293133;
    color: #FFFFFF;

    p {
        text-align: center;
    }
}

.btn {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    display: flex;
    width: fit-content;
    border: 2px solid rgb(6, 161, 6);
    padding: 15px 25px;
    border-radius: 10px;
    color: #FFFFFF;
    user-select: none;
    -webkit-user-select: none;

    &:hover {
        transition: all 225ms ease-in-out;
        background-color: rgb(6, 161, 6);
        color: #FFFFFF;
    }
}

@media screen and (max-width: 1024px) {
    .imprint-background {
        h2 {
            font-size: 1rem;
        }
    }
}