<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img src="assets/img/Backend.png" alt="backstage">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>Backstage</span>
            <p>Django | Angular | Tokens | RxJS</p>
            <p>Full-Stack-Web-App <br>
                A simplified version of JOIN with similar capabilities to create todos,
                contacts, categories.<br>
                REST API with Django Rest Framework. <br>
                Authentication with Tokens. <br>
                Full CRUD functionality.<br>
                Guest login can be provided. 
            </p>
            <div class="btn-box">
                <a class="button" href="https://www.api.frederic-rieg.de"
                    target="_blank">Try it</a>
                <a class="button" href="https://github.com/FredVomJupiter/restAPI_django"
                    target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>