.section-skills-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    box-sizing: border-box;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    width: calc(min(100vw, 1024px) - 4rem);
    background: #293133;
    margin-bottom: 1rem;
    border-radius: 10px;

    .headline {
        box-sizing: border-box;
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: center;
    
        h2 {
            height: fit-content;
            font-weight: bold;
            color: #FFFFFF;
            font-size: 2rem;
        }
    }

    .text {
        box-sizing: border-box;
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        p {
            color: #FFFFFF; 
            text-align: center;
            font-size: 1rem;
        }
    
        .send-message-btn {
            cursor: pointer;
            transition: all 225ms ease-in-out;
            box-sizing: border-box;
            max-width: 256px;
            border: 2px solid rgb(6, 161, 6);
            ;
            filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
            border-radius: 8px;
            color: #FFFFFF;
            text-align: center;
            padding: 8px;
            font-size: 1rem;
    
            &:hover {
                transition: all 225ms ease-in-out;
                background-color: rgb(6, 161, 6);
                ;
                color: #FFFFFF;
            }
        }
    }
}

.skills-wrapper {
    box-sizing: border-box;
    padding: 2rem 1rem;
    display: flex;
    max-width: 1024px;
    width: calc(min(100vw, 1024px) - 4rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #293133;
    border-radius: 10px;

    .skills-title {
        display: block;
        color: #FFFFFF;
        font-weight: bold;
        cursor: default;
        font-size: 2rem;
    }

    .icon-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 1rem;

        .icon-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30px;
            gap: 1rem;

            img {
                width: 100%;
                max-width: 100px;
            }
        }

        span {
            cursor: default;
            font-weight: normal;
            font-size: 12px;
            color: #FFFFFF;
        }
    }
}

@media screen and (width < 1024px) {
    .wrapper {
        width: calc(min(100vw, 1024px) - 2rem);
    }

    .skills-wrapper {
        width: calc(min(100vw, 1024px) - 2rem);
    }
}