<div class="section-skills-background">
    <div class="wrapper">
        <div class="headline">
            <span>Let's work together</span>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias dolore similique illum, odio itaque ad
                consequuntur natus laborum iure porro numquam fuga ab atque maiores optio voluptates recusandae
                excepturi quod.<br>
                <br>
                Feel free to contact me if you are interested in my experience and skills.</p>
        </div>
    </div>
    <div class="skills-wrapper">

    </div>
</div>