<div class="section-skills-background">
    <div class="wrapper">
        <div class="headline">
            <span>Let's work together</span>
        </div>
        <div class="text">
            <p>I am a Frontend Developer who likes solving logical problems systematically. With broad experience from different sectors like international development cooperation, politics and engineering, I decided to join Developer Akademie and focus on building usefull applications to make communicating data a better experience.<br>
                <br>
                Feel free to contact me if you are interested in my experience and skills.</p>
                <div class="send-message-btn" (click)="scrollBottom()">Send a message</div>
        </div>
        
    </div>

    <!-- Icons of Web Dev technologies -->
    <div class="skills-wrapper">
        <span class="skills-title">Skills set</span>
        <div class="icon-row">
            <div class="icon-wrap">
                <img src="assets/img/angular_negative.svg" alt="icon">
                <span>Angular</span>
            </div>
            <div class="icon-wrap">
                <img src="assets/img/typescript_negative.svg" alt="icon">
                <span>TypeScript</span>
            </div>
            <div class="icon-wrap">
                <img src="assets/img/javascript_negative.svg" alt="icon">
                <span>JavaScript</span>
            </div>
            <div class="icon-wrap">
                <img src="assets/img/html_negative.svg" alt="icon">
                <span>HTML</span>
            </div>
            <div class="icon-wrap">
                <img src="assets/img/scrum_negative.svg" alt="icon">
                <span>Scrum</span>
            </div>
        </div>
        <div class="icon-row">
            <div class="icon-wrap">
                <img src="assets/img/firebase_negative.svg" alt="icon">
                <span>Firebase</span>
            </div>
            <div class="icon-wrap">
                <img src="assets/img/git_negative.svg" alt="icon">
                <span>Git</span>
            </div>
            <div class="icon-wrap">
                <img src="assets/img/css_negative.svg" alt="icon">
                <span>CSS</span>
            </div>
            <div class="icon-wrap">
                <img src="assets/img/api_negative.svg" alt="icon">
                <span>Rest-Api</span>
            </div>
            <div class="icon-wrap">
                <img src="assets/img/material_negative.svg" alt="icon">
                <span>Material<br>Design</span>
            </div>
        </div>
    </div>
</div>