.section-skills-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.wrapper {
    display: block;
    height: 50%;
}

.headline {
    box-sizing: border-box;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        max-width: 80%;
        height: fit-content;
        font-weight: bold;
        color: #114B5F;
    }
}

.text {
    box-sizing: border-box;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        color: #114B5F;
    }

    .send-message-btn {
        cursor: pointer;
        transition: all 225ms ease-in-out;
        box-sizing: border-box;
        max-width: 256px;
        border: 2px solid #114B5F;
        ;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
        border-radius: 10px;
        color: #114B5F;
        ;
        text-align: center;
        padding: 8px;

        &:hover {
            transition: all 225ms ease-in-out;
            background-color: #114B5F;
            ;
            color: white;
        }
    }
}

.skills-wrapper {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(128.94deg, #E4FDE1 -33.96%, #456990 36.71%, #114B5F 112.25%);

    span {
        display: block;
        color: white;
        font-weight: bold;
        cursor: default;
    }

    .icon-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        .icon-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        span {
            cursor: default;
            font-weight: normal;
        }
    }
}