<div class="section-top-background">

    <!-- Inline styles with ngStyle and ngFor do the trick to create the necessary delay for the animation -->
    <div class="matrix-name">
        <p>Frederic Rieg : Frontend Developer</p>
    </div>

    <div class="matrix">
        <div class="column">
            <p *ngFor="let letter of english; index as i;" id="letter{{i}}" [ngStyle]="{'animation-delay': (220 + i * 100) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of german; index as j;" id="letter{{j}}" [ngStyle]="{'animation-delay': (455 + j * 50) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of french; index as k;" id="letter{{k}}" [ngStyle]="{'animation-delay': (260 + k * 150) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of dutch; index as l;" id="letter{{l}}" [ngStyle]="{'animation-delay': (l * 250) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of turkish; index as m;" id="letter{{m}}" [ngStyle]="{'animation-delay': (390 + m * 120) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of japanese; index as n;" id="letter{{n}}" [ngStyle]="{'animation-delay': (487 + n * 80) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of chinese; index as o;" id="letter{{o}}" [ngStyle]="{'animation-delay': (148 + o * 80) + 'ms'}">{{ letter }}</p>
        </div>
    </div>

    <div class="matrix-two">
        <div class="column">
            <p *ngFor="let letter of english; index as i;" id="letter{{i}}" [ngStyle]="{'animation-delay': (i * 120) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of german; index as j;" id="letter{{j}}" [ngStyle]="{'animation-delay': (j * 28) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of french; index as k;" id="letter{{k}}" [ngStyle]="{'animation-delay': (k * 98) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of dutch; index as l;" id="letter{{l}}" [ngStyle]="{'animation-delay': (l * 222) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of turkish; index as m;" id="letter{{m}}" [ngStyle]="{'animation-delay': (m * 120) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of japanese; index as n;" id="letter{{n}}" [ngStyle]="{'animation-delay': (n * 90) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of chinese; index as o;" id="letter{{o}}" [ngStyle]="{'animation-delay': (o * 22) + 'ms'}">{{ letter }}</p>
        </div>
    </div>

    <div class="matrix-three">
        <div class="column">
            <p *ngFor="let letter of english; index as i;" id="letter{{i}}" [ngStyle]="{'animation-delay': (111 + i * 50) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of german; index as j;" id="letter{{j}}" [ngStyle]="{'animation-delay': (222 + j * 87) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of french; index as k;" id="letter{{k}}" [ngStyle]="{'animation-delay': (333 +k * 122) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of dutch; index as l;" id="letter{{l}}" [ngStyle]="{'animation-delay': (444 + l * 210) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of turkish; index as m;" id="letter{{m}}" [ngStyle]="{'animation-delay': (50 + m * 189) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of japanese; index as n;" id="letter{{n}}" [ngStyle]="{'animation-delay': (n * 89) + 'ms'}">{{ letter }}</p>
        </div>
        <div class="column">
            <p *ngFor="let letter of chinese; index as o;" id="letter{{o}}" [ngStyle]="{'animation-delay': (99 + o * 28) + 'ms'}">{{ letter }}</p>
        </div>
    </div>

    <div class="icons">
        <a class="image-wrap" href="https://github.com/FredVomJupiter" target="_blank"><img class="fill-color"
                src="assets/img/github.svg" alt="git"></a>
        <a class="image-wrap" href="https://www.linkedin.com/in/frederic-r-6a2251101/" target="_blank"><img
                class="fill-color" src="assets/img/linkedin.svg" alt="linkedin"></a>
    </div>
</div>