.section-top-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(179.99deg, #ffffff 12.89%, #EAF0FF 91.39%)
}

.blue-circle-big {
    position: absolute;
    top: -71px;
    left: -220px;
    width: 892px;
    height: 892px;
    border-radius: 100%;
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%)
}

.headline-text-box {
    position: absolute;
    width: 645px;
    left: 731px;
    top: 227px;

    h1 {
        font-size: 64px;
        color: #5988FF;
    }

    h2 {
        font-size: 32px;
        color: #5988FF;
    }
}