<div class="section-top-background">

    <!-- Inline styles with ngStyle and ngFor do the trick to create the necessary delay for the animation -->
    <div class="matrix-name">
        <p>Hi, I am Frederic a <br>Frontend<br>Web.Developer<br></p>
    </div>

    <div class="scroll-container">
        <img class="scroll" src="assets/img/scroll.svg">
        <img class="scroll scroll--delay1" src="assets/img/scroll.svg">
        <img class="scroll scroll--delay2" src="assets/img/scroll.svg">
    </div>

    <div class="icons">
        <a class="image-wrap" href="https://github.com/FredVomJupiter" target="_blank">
            <img src="assets/img/github_negative.svg" alt="git"></a>
        <a class="image-wrap" href="https://www.linkedin.com/in/frederic-r-6a2251101/" target="_blank">
            <img src="assets/img/linkedin_negative.svg" alt="linkedin"></a>
    </div>
</div>