<div class="section-top-background">

    <!-- Inline styles with ngStyle and ngFor do the trick to create the necessary delay for the animation -->
    <div class="matrix-name">
        <h1>Hello World,<br>I am Frederic a<br>Web Developer.<br></h1>
        <h2>My Focus is Frontend Development. Every day I learn more about digital technology and bring it to life in puzzling lines of code.</h2>
    </div>

    <div class="scroll-container">
        <img class="scroll" src="assets/img/scroll.svg" alt="scroll_icon">
        <img class="scroll scroll--delay1" src="assets/img/scroll.svg" alt="scroll_icon">
        <img class="scroll scroll--delay2" src="assets/img/scroll.svg" alt="scroll_icon">
    </div>

    <div class="icons">
        <a class="image-wrap" href="https://github.com/FredVomJupiter" target="_blank">
            <img src="assets/img/github_negative.svg" alt="git"></a>
        <a class="image-wrap" href="https://www.linkedin.com/in/frederic-rieg-6a2251101/" target="_blank">
            <img src="assets/img/linkedin_negative.svg" alt="linkedin"></a>
    </div>
</div>