.section-top-background {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 4rem);
    margin: 0 auto;
    z-index: 99;
}

.icons {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-around;
    gap: 1rem;

    .image-wrap {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;

        img {
            transition: all 225ms ease-in-out;
            width: 32px;
            height: 32px;
        }

        &:hover img {
            transition: all 225ms ease-in-out;
            transform: translateX(-20px);
        }
    }
}

.matrix-name {
    position: absolute;
    top: 5rem;
    left: 2rem;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
    margin-top: 2rem;

    h1 {
        margin: 0;
        color: rgb(255, 255, 255);
        font-size: 4rem;
        font-weight: bold;
    }

    h2 {
        display: none;
    }
}

.scroll-container {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
}

.scroll {
    animation: scrolling 1s infinite;
}

.scroll--delay1 {
    animation-delay: 100ms;
}

.scroll--delay2 {
    animation-delay: 200ms;
}

@keyframes scrolling {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (width < 700px) {
    .matrix-name {
        background: unset;

        h1 {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}