<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img src="assets/img/Treffpunkt.png" alt="backstage">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>Treffpunkt CRM</span>
            <p>Angular 16 | TypeScript | Firebase | RxJS | jsPDF | Dark&Light Theme | LazyLoading</p>
            <p>Powerfull CRM<br>
                Automatically create and download PDF Invoices and Reminders<br>
                Create and manage Customers, Products and Orders<br>
                Fully filterable and sortable tables<br>
                Dashboard with status overview<br>
                Dark and Light Theme<br>
                Drag & Drop<br><br>

                Acces to the demo version and GitHub repo is available on request.
            </p>
            <div class="btn-box">
                <a class="button" href="https://simple-crm-a3a5e.web.app/#/login"
                    target="_blank">Try it</a>
            </div>
        </div>
    </div>
</div>