<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img src="assets/img/join.png" alt="join angular">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>JOIN Angular</span>
            <p>Angular | TypeScript | HTML | SCSS | Firebase</p>
            <p>The Angular version of the Join Kanban Management System. So far, only the mobile version is presented
                here but the desktop version is following soon. A guest login is provided as well as Google Authentification.
            
            Coming soon: Desktop version and PWA</p>
            <div class="btn-box">
                <a class="button" href="https://www.frederic-rieg.de/JoinAngular/index.html" target="_blank">Try
                    it</a>
                <a class="button" href="https://github.com/FredVomJupiter/join-angular"
                    target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>