<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img src="assets/img/join.png" alt="join angular">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>JOIN Angular</span>
            <p>Angular 15 | TypeScript | HTML | SCSS | Firebase</p>
            <p>The Angular version of the Join Kanban Management System. Here, Firebase takes over the Authentication as
                well as the storage of data. A guest login is provided as well as Google Authentification.</p>
            <div class="btn-box">
                <a class="button" href="https://join-angular.frederic-rieg.de/" target="_blank">Try
                    it</a>
                <a class="button" href="https://github.com/fred-eric-rieg/join-angular" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>