<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img src="assets/img/x4.png" alt="x4-station-designer">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>X4 Station Designer</span>
            <p>JavaScript | HTML | CSS</p>
            <p>The X-series is my favorite scifi-space game series. It was created by the small developer team "Egosoft"
                in Würselen. Building space stations with the module sandbox system is the most fun. It requires a lot of planning
                though, if you want to get your stations up and running efficiently.
            
                You can add modules, view input-output of single modules, get summaries of one module class and a complete station overview
                with highlighted deficit and surplus. This allows you to calculate, how many modules of each class you need to build a
                self-sufficient station.</p>
            <div class="btn-box">
                <a class="button" href="https://www.frederic-rieg.de/x4-station-designer/index.html"
                    target="_blank">Try it</a>
                <a class="button" href="https://github.com/FredVomJupiter/x4-station-designer"
                    target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>