<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img src="assets/img/pokedex.svg" alt="join">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>Pokédex</span>
            <p>JavaScript | HTML | CSS | API</p>
            <p>Overview of Pokémon using the poke api. On top, you can enjoy arena fights and challenge other pokemons. This game is entirely coded in a procedual fashion using booleans and timeout functions.</p>
            <div class="btn-box">
                <a class="button" href="https://www.frederic-rieg.developerakademie.net/pokedex/index.html" target="_blank">Try it</a>
                <a class="button" href="https://github.com/FredVomJupiter/pokedex" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>