<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <div class="line">Click for info</div>
            <img src="assets/img/pokedex.svg" alt="join">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>Pokédex</span>
            <p>JavaScript | HTML | CSS | API</p>
            <p>Overview of Pokémon using the poke api. On top, you can enjoy arena fights and challenge your friends!</p>
            <div class="btn-box">
                <div class="button">Try it</div>
                <div class="button">Github</div>
            </div>
        </div>
    </div>
</div>