<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img src="assets/img/join.svg" alt="join">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>JOIN</span>
            <p>JavaScript | HTML | CSS</p>
            <p>Task manager inspired by the Kanban system. Create and organize tasks using drag and drop functions,
                assign users and categories. Login-authentication and password generation with SHA256 encryption and
                salt. Mini backend (without security layer) by Junus Ergin.</p>
            <div class="btn-box">
                <a class="button" href="https://www.frederic-rieg.developerakademie.net/JOIN/login.html"
                    target="_blank">Try it</a>
                <a class="button" href="https://github.com/FredVomJupiter/JOIN-Canban-Management-Tool"
                    target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>