.section-projects-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 64rem;
    width: calc(min(100vw, 64rem) - 0rem);
    margin: 0 auto;

    .wrapper {
        max-width: 64rem;
        width: calc(min(100vw, 64rem) - 4rem);
        display: flex;
        flex-direction: column;
    }
}

.box {
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    transition: all 225ms ease-in-out;

    img {
        transition: all 225ms ease-in-out;
        box-sizing: border-box;
        width: 100%;
        max-width: 400px;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15)) grayscale(100%);
    }

    &:hover img {
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15)) grayscale(0%);
    }
}

.magic-box {
    transition: all 225ms ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0rem;
    font-size: 16px;


    span {
        cursor: default;
        font-weight: bold;
        color: #E4FDE1;
        font-size: 18px;
    }

    p {
        cursor: default;
        color: #E4FDE1;
        text-align: center;
    }

    .btn-box {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .button {
        text-decoration: none;
        transition: all 225ms ease-in-out;
        cursor: pointer;
        display: flex;
        height: 40px;
        width: 100px;
        border: 2px solid #456990;
        border-radius: 10px;
        color: #456990;

        align-items: center;
        justify-content: center;
        background: white;

        &:hover {
            transition: all 225ms ease-in-out;
            background: #456990;
            color: white;
        }
    }
}

.show-box {
    transition: all 225ms ease-in-out;
    opacity: 1;
}