<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img src="assets/img/join.png" alt="join">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>JOIN</span>
            <p>Vanilla JS | HTML | CSS | PWA | Django | restAPI | Tokens</p>
            <p>Full Stack Progressive Web App</p>
            <p>JOIN is a Kanban Management Tool. Create, Read, Update and Delete Tasks. Authentication with Username &
                Password and Tokens.The frontend and the
                backend are connected via restAPI. The Frontend is currently hosted on my FTP server. The Backend is
                currently hosted on pythonanywhere.com. A Guestlogin is provided.</p>
            <div class="btn-box">
                <a class="button" href="https://api.frederic-rieg.de/login" target="_blank">Try it</a>
                <a class="button" href="https://github.com/FredVomJupiter/JOIN-Canban-Management-Tool"
                    target="_blank">Git Frontend</a>
                <a class="button" href="https://github.com/FredVomJupiter/restAPI_django" target="_blank">Git Backend</a>
            </div>
        </div>
    </div>
</div>