@function get-vw($target) {
    $vw-context: (1000*.01) * 1px;
    @return calc($target/$vw-context) * 1vw;
}

.section-projects-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;

    .wrapper {
        display: flex;
        flex-direction: column;
    }
}

.box {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    width: fit-content;

    img {
        transition: all 225ms ease-in-out;
        box-sizing: border-box;
        max-width: 400px;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15)) grayscale(100%);
    }

    &:hover img {
        transform: scale(1.1);
        border: 2px solid #456990;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15)) grayscale(0%);
    }
}

.magic-box {
    transition: all 225ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;

    span {
        cursor: default;
        font-weight: bold;
        color: #456990;
    }

    p {
        cursor: default;
        color: #456990;
    }

    .btn-box {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .button {
        text-decoration: none;
        transition: all 225ms ease-in-out;
        cursor: pointer;
        display: flex;
        height: 40px;
        width: 100px;
        border: 2px solid #456990;
        border-radius: 10px;
        color: #456990;

        align-items: center;
        justify-content: center;
        background: white;

        &:hover {
            transition: all 225ms ease-in-out;
            background: #456990;
            color: white;
        }
    }
}

.show-box {
    transition: all 225ms ease-in-out;
    opacity: 1;
}

/**
@media screen and (width > 1440px) {
    .section-projects-background {
        margin-left: 200px;
        margin-right: 200px;
        width: calc(100% - 400px);
    }

    .box {
        img {
            max-width: 500px;
        }

        &:hover .line {
            width: get-vw(400px);
        }

        .line {
            left: 50%;
        }
    }
}

@media screen and (width < 1200px) {
    .box {
        img {
            max-width: 300px;
        }
    }

    .magic-box {
        span {
            font-size: 24px !important;
        }

        p {
            font-size: 16px !important;
        }
    }
}

@media screen and (width < 900px) {
    .box {
        img {
            max-width: 250px;
        }
    }

    .magic-box {
        span {
            font-size: 18px !important;
        }

        p {
            font-size: 12px !important;
        }
    }
}

@media screen and (width < 600px) {
    .section-projects-background {
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        width: calc(100% - 100px);
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        align-items: center;
        justify-content: center;
    }

    .line {
        display: none !important;
    }

    .magic-box {
        margin-top: 16pxpx;
        margin-bottom: 16px;
        align-items: center;
        text-align: center;
        opacity: 1 !important;
    }
}

@media screen and (width < 600px) and (height < 800px) {
    .section-projects-background {
        height: 66vh;
    }
}

@media screen and (width < 600px) and (height < 700px) {
    .section-projects-background {
        height: 70vh;
    }
}**/