<div class="section-projects-background">
    <div class="wrapper">
        <div class="box" (click)="mouseClick($event)">
            <img src="assets/img/join.png" alt="join">
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>JOIN</span>
            <p>JavaScript | HTML | CSS | PWA</p>
            <p>A Progressive Web App and task manager inspired by the Kanban system. Create and organize tasks using drag and drop functions,
                assign users and categories. Client-side login-authentication and password generation with SHA256 encryption and
                salt for demonstration purposes only. Mini backend (without security layer) by Junus Ergin. <br>
                A Guest Login is provided. The easiest way to download this PWA is via the Chrome browser on mobile or laptop.</p>
            <div class="btn-box">
                <a class="button" href="https://www.frederic-rieg.developerakademie.net/JOIN/login.html"
                    target="_blank">Try it</a>
                <a class="button" href="https://github.com/FredVomJupiter/JOIN-Canban-Management-Tool"
                    target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>