<div class="section-projects-background">
    <div class="wrapper">
        <!-- Matrix animation with ngFor + ngStyle + TypeScript split strings -->
        <div class="matrix-two">
            <div class="column">
                <p *ngFor="let letter of english; index as i;" id="letter{{i}}" [ngStyle]="{'animation-delay': (i * 120) + 'ms'}">{{ letter }}</p>
            </div>
            <div class="column">
                <p *ngFor="let letter of german; index as j;" id="letter{{j}}" [ngStyle]="{'animation-delay': (j * 28) + 'ms'}">{{ letter }}</p>
            </div>
            <div class="column">
                <p *ngFor="let letter of french; index as k;" id="letter{{k}}" [ngStyle]="{'animation-delay': (k * 98) + 'ms'}">{{ letter }}</p>
            </div>
            <div class="column">
                <p *ngFor="let letter of dutch; index as l;" id="letter{{l}}" [ngStyle]="{'animation-delay': (l * 222) + 'ms'}">{{ letter }}</p>
            </div>
            <div class="column">
                <p *ngFor="let letter of turkish; index as m;" id="letter{{m}}" [ngStyle]="{'animation-delay': (m * 120) + 'ms'}">{{ letter }}</p>
            </div>
            <div class="column">
                <p *ngFor="let letter of japanese; index as n;" id="letter{{n}}" [ngStyle]="{'animation-delay': (n * 90) + 'ms'}">{{ letter }}</p>
            </div>
            <div class="column">
                <p *ngFor="let letter of chinese; index as o;" id="letter{{o}}" [ngStyle]="{'animation-delay': (o * 22) + 'ms'}">{{ letter }}</p>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>My Homepage</span>
            <p>TypeScript | HTML | SCSS | Angular</p>
            <p>The page you are looking at. You can take a look on Github to explore how I constructed this page... and I'll show you how deep the rabbit hole goes.</p>
            <div class="btn-box">
                <a class="button" href="https://github.com/FredVomJupiter/myhomepage" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>