<div class="section-projects-background">
    <div class="wrapper">
            <div class="big-blue-circle"></div>
            <div class="small-blue-circle" id="small"></div>
    </div>

    <div class="wrapper">
        <div class="magic-box" [class.show-box]="showBox">
            <span>My Homepage</span>
            <p>TypeScript | HTML | SCSS | Angular</p>
            <p>The page you are looking at. You can take a look on Github to explore how I constructed this page.</p>
            <div class="btn-box">
                <a class="button" href="https://github.com/FredVomJupiter/myhomepage" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>