.section-projects-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    width: calc(min(100vw, 1024px) - 0rem);
    margin: 0 auto;

    .wrapper {
        max-width: 1024px;
        width: calc(min(100vw, 1024px) - 4rem);
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
}

.big-blue-circle {
    z-index: 3;
    position: relative;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: url('/assets/img/earth.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.small-blue-circle {
    z-index: 4;
    transform: translateY(-200px);
    position: relative;
    top: 25px;
    left: -500px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    background-image: url('/assets/img/moon.png');
    background-position: center;
    background-size: cover;
}

.magic-box {
    transition: all 225ms ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 4rem 0; // top right bottom left: needs extra padding on bottom to match the others!
    font-size: 16px;

    span {
        cursor: default;
        font-weight: bold;
        color: #114B5F;
        font-size: 18px;
    }

    p {
        cursor: default;
        color: #456990;
        text-align: center;
    }

    .btn-box {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .button {
        text-decoration: none;
        transition: all 225ms ease-in-out;
        cursor: pointer;
        display: flex;
        height: 40px;
        width: 100px;
        border: 2px solid #456990;
        border-radius: 10px;
        color: #456990;
        align-items: center;
        justify-content: center;
        background: white;

        &:hover {
            transition: all 225ms ease-in-out;
            background: #456990;
            color: white;
        }
    }
}

.show-box {
    transition: all 225ms ease-in-out;
    opacity: 1;
}

.matrix-two {
    position: relative;
    left: 50%;
    margin-top: 2rem;
    max-width: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 8px;
    //transform: rotate3d(0, 1, 0, 60deg);

    .column {
        display: flex;
        flex-direction: column;
        gap: 1px;

        p {
            margin: 0;
            color: rgb(6, 161, 6);
            font-size: 0.4rem;
            animation: matrixgreen 3s;
            opacity: 1;
        }
    }
}

@keyframes matrixgreen {
    0% {
        opacity: 1;
        color: black;
    }
    70% {
        opacity: 1;
        color: rgb(6, 161, 6);;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (width < 1024px) {
    .box {
        img {
            filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15)) grayscale(0%) !important;
        }
    }
}